<div class="el-media-box {{ modifier }}">
    <div class="inner {{ linkType }}">

        <div class="media-container">
            {{# urlImage }}
                <figure>
                    <img src="{{ urlImage }}" alt="{{ altText }}">
                </figure>
            {{/ urlImage }}

            {{# urlVideo }}
                <div class="video">
                    <iframe src="{{ urlVideo }}" allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen="">
                    </iframe>
                </div>
            {{/ urlVideo }}
        </div>

        <div class="text-container">
            {{# title }}
                <h2 class="{{ titleType }}">
                    <!-- Den Span braucht es nur wenn Hintergrund gesetzt wird! -->
                    <span>{{ title }}</span>
                </h2>
            {{/ title }}

            {{# text }}
                <div class="content">
                    {{{ text }}}
                </div>
            {{/ text }}

            {{# linkText }}
                <div class="link-text">
                    <p>{{ linkText }}</p>
                </div>
            {{/ linkText }}

            {{# linkList }}
                <div class="link-list">
                    <a href="{{ url }}" {{# target }}target="_blank"{{/target}}>{{ linkText }}</a>
                </div>
            {{/linkList}}

            {{# videoLinkBox }}
                <a href="{{ url }}" title="weiterlesen: {{ title }}" class="link-box"></a>
            {{/ videoLinkBox }}

        </div>

        {{# linkBox }}
            <a href="{{ url }}" title="weiterlesen: {{ title }}" class="link-box"></a>
        {{/ linkBox }}
    </div>
</div>