.el-media-box {
    margin-bottom: var(--space-medium);

    &:last-of-type {
        margin-bottom: var(--space-small);
    }

    .inner {
        position: relative;

        .media-container {
            figure {
                margin-bottom: var(--space-medium);
            }

            .video {
                background-color: var(--black);
                padding: 56.25% 0 0 0;
                position: relative;
                margin-bottom: var(--space-medium);

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .text-container {
            h2 {
                &.background {
                    opacity: 1;
                    color: var(--white);
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    padding-top: 0.5rem;
                    transition: var(--anim-duration);


                    span {
                        opacity: 1;
                        background-color: var(--color-brand);
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-top: 0.25rem;
                        padding-bottom: 0.5rem;
                        line-height: 1.375;
                        box-decoration-break: clone;
                        -webkit-box-decoration-break: clone;
                        transition: var(--anim-duration);
                        border-radius: 5px;
                    }
                }
            }
        }

        &.linkbox {
            &:hover {
                cursor: pointer;
                h2,
                .link-text {
                    color: var(--color-brand);

                    &.background {
                        color: var(--white);
                        opacity: 0.75;

                        span {
                            opacity: 0.75;
                            background-color: var(--color-brand);
                        }
                    }
                }
            }
        }

        &.linkbox-video {
            .text-container {
                position: relative;

                &:hover {
                    cursor: pointer;
                    h2,
                    .link-text {
                        color: var(--color-brand);

                        &.background {
                            color: var(--white);

                            span {
                                opacity: 0.75;
                                background-color: var(--color-brand);
                            }
                        }
                    }
                }
            }
        }
    }

    &.small,
    &.medium {
        .inner {
            display: flex;
            flex-direction: column;

            .media-container,
            .text-container {
                width: 100%;
            }
        }
    }

    &.small {
        .inner {
            @media @min-mobile-large {
                flex-direction: row;

                .media-container {
                    width: 50%;
                    padding-right: 20px;

                    figure {
                        margin-top: var(--space-x-small);
                        margin-bottom: 0;
                    }

                    .video {
                        margin-top: var(--space-x-small);
                        margin-bottom: 0;
                    }
                }

                .text-container {
                    width: 50%;
                    padding-left: 20px;
                }
            }

            @media @min-tablet-hoch {
                .media-container {
                    width: 33.33%;
                    padding-right: 27px;

                }

                .text-container {
                    width: 66.66%;
                    padding-left: 13px;
                }
            }
        }
    }

    &.medium {
        .inner {
            @media @min-tablet-hoch {
                flex-direction: row;

                .media-container {
                    width: 50%;
                    padding-right: 20px;

                    figure {
                        margin-top: var(--space-x-small);
                        margin-bottom: 0;
                    }

                    .video {
                        margin-top: var(--space-x-small);
                        margin-bottom: 0;
                    }
                }

                .text-container {
                    width: 50%;
                    padding-left: 20px;
                }
            }
        }
    }

    &.large {
        .inner {
            .text-container {
                width: 100%;

                @media @min-tablet-quer {
                    width: 66.66%;
                }
            }
        }
    }
}

