<div class="el-breadcrumb">
    <ul>
        {{# breadcrumbs }}
            <li>
                {{# url }}
                <a href="{{ url }}">{{/ url }}{{ name }}{{# url }}</a>
            {{/ url }}
            </li>
        {{/ breadcrumbs }}
    </ul>
</div>