// Fonts
@font_path: "../fonts/";

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;
  src: url("@{font_path}OpenSans-Regular.ttf"),
       url("@{font_path}OpenSans-Regular.ttf") format("truetype")
}
@font-face {
  font-family: 'OpenSansCondensed';
  font-weight: 700;
  font-style: normal;
  src: url("@{font_path}OpenSansCondensed-Bold.ttf"),
       url("@{font_path}OpenSansCondensed-Bold.ttf") format("truetype")
}

html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;
}

body {
  font-size: @font-size-base;
  font-family: @font-family-base;
  font-weight: @font-weight-regular;
  line-height: @line-height-base;
}
  
p {
  margin: 0 0 @space-small;

  &.lead {
    font-family: @font-family-alt;  
    font-weight: @font-weight-bold;
    font-size: @font-size-lead-mobile;
    @media @min-tablet-hoch {
      font-size: @font-size-lead;
    }
  }
}

h1, h2, h3, h4 {
  font-family: @font-family-alt;  
  font-weight: @font-weight-bold;
  margin: 0;
  padding: 0;
}
  
h1 {
  font-family: @font-family-alt;  
  font-size: @font-size-h1-mobile;
  line-height: 1.25;
  margin-bottom: @space-small;
  @media @min-tablet-hoch {
    font-size: @font-size-h1;
  }
}
h2 {
  font-family: @font-family-alt;  
  font-size: @font-size-h2-mobile;
  line-height: 1.25;
  margin-bottom: @space-small;
  @media @min-tablet-hoch {
    font-size: @font-size-h2;
  }
}
h3 {
  font-family: @font-family-alt;  
  font-size: @font-size-h3;
  line-height: 1.25;
  margin-bottom: @space-small;
}
h4 {
  font-family: @font-family-alt;  
  font-size: @font-size-h4;
  margin-bottom: @space-small;
}

a.link-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:hover {
    cursor: pointer;
  }
}

.accordion-container {
  a {
    color: @black;
    text-decoration: none;
    border-bottom: 2px solid @color-brand;

    &:hover {
      border-bottom: 2px dotted @color-brand; 
    }
  }
}

  

