.page-wrapper {
    width: 100%;
    max-width: @wrapper-width;
    margin: 0 auto;
}

.content-section {
    // border-top: 1px solid @black;
    padding: var(--space-large) var(--space-medium);
}

.content-section.breadcrumb + .content-section.page-title {
    padding: 0 var(--space-medium) var(--space-large);
}

.content-section.breadcrumb + .content-section.slider {
    padding: 0 var(--space-medium) var(--space-large);
}

.content-section.slider + .content-section.page-title {
    padding: 0 var(--space-medium) var(--space-large);
}

.content-section.page-title + .content-section.txt-img-content {
    padding: var(--space-small) var(--space-medium) var(--space-large);
    margin-top: -5.0rem;
}

.accordion-container,
.el-txt-img-content {
    ul {
        margin-bottom: var(--space-small);

        li {
            margin-left: 3.0rem;
            margin-bottom: var(--space-x-small);

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                font-family: "icomoon";
                content: @icon-minus;
                margin-left: -3.0rem;
                padding-right: 1.2rem;
            }
        }
    }
}


.col-2,
.col-3,
.col-4 {
    display: flex;
    flex-direction: column;
}

.col-2 {
    @media @min-tablet-quer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    > div {
        width: 100%;
        @media @min-tablet-quer {
            width: ~"calc(50% - 20px)";
        }
    }
}

.col-3 {
    @media @min-tablet-quer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    > div {
        width: 100%;
        @media @min-tablet-quer {
            width: ~"calc(33.33% - 26.5px)";
        }
    }

}

.col-4 {
    @media @min-mobile-large  {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    > div {
        width: 100%;

        @media @min-mobile-large {
            width: ~"calc(50% - 20px)";
        }

        @media @min-tablet-hoch {
            width: ~"calc(33.33% - 26.5px)";
        }

        @media @min-tablet-quer {
            width: ~"calc(25% - 30px)";
        }
    }
}

