/* BREAK POINTS 
_________________________________________________________________*/
@breakpoint-mobile-medium: 480px;
@breakpoint-mobile-large: 600px;
@breakpoint-tablet-hoch: 760px;
@breakpoint-tablet-quer: 1020px;
@breakpoint-desktop: 1200px;
@wrapper-width: 1400px;

@min-mobile-medium: ~"screen and (min-width: @{breakpoint-mobile-medium})";
@min-mobile-large: ~"screen and (min-width: @{breakpoint-mobile-large})";
@min-tablet-hoch: ~"screen and (min-width: @{breakpoint-tablet-hoch})";
@min-tablet-quer: ~"screen and (min-width: @{breakpoint-tablet-quer})";
@min-desktop: ~"screen and (min-width: @{breakpoint-desktop})";
@min-wrapper-width: ~"screen and (min-width: @{wrapper-width})";

@header-height: 125px;


/* COLORS 
_________________________________________________________________*/
@color-brand: #8b7601;        // Gold
@color-brand-light: #dcd5b9;

@color-error: #cc0000;    // Red
@color-success: #00aa00;  // Green

@white: #ffffff;
@black: #000000;

/* FONTS 
_________________________________________________________________*/
@font-family-base: 'OpenSans', Arial, Helvetica, Sans-serif;
@font-family-alt: 'OpenSansCondensed', Arial, Helvetica, Sans-serif; 

@font-size-base: 18px;
@line-height-base: 27px;

@font-size-lead: 21px;
@line-height-lead: 30px;

@font-weight-regular: 400;
@font-weight-bold: 700;

@font-size-h1: 36px;
@font-size-h2: 30px;
@font-size-h3: 24px;
@font-size-h4: 21px;


/* SPACES
_________________________________________________________________*/
@space-x-small: 5px;
@space-small: 15px;
@space-medium: 25px;
@space-large: 50px;
@space-x-large: 75px;
@margin-grid: 25px;
@margin-grid-minus: -25px;


/* ANIMATIONS
_________________________________________________________________*/
@anim-duration: 0.2s;
