/* BREAK POINTS 
_________________________________________________________________*/
@breakpoint-mobile-medium: 480px;
@breakpoint-mobile-large: 600px;
@breakpoint-tablet-hoch: 760px;
@breakpoint-tablet-quer: 1020px;
@breakpoint-desktop: 1200px;
@wrapper-width: 1400px;

@min-mobile-medium: ~"screen and (min-width: @{breakpoint-mobile-medium})";
@min-mobile-large: ~"screen and (min-width: @{breakpoint-mobile-large})";
@min-tablet-hoch: ~"screen and (min-width: @{breakpoint-tablet-hoch})";
@min-tablet-quer: ~"screen and (min-width: @{breakpoint-tablet-quer})";
@min-desktop: ~"screen and (min-width: @{breakpoint-desktop})";
@min-wrapper-width: ~"screen and (min-width: @{wrapper-width})";

@header-height: 12.5rem;


/* COLORS 
_________________________________________________________________*/
@color-brand: #8b7601;        // Gold
@color-brand-light: #dcd5b9;

@color-error: #cc0000;    // Red
@color-success: #00aa00;  // Green

@white: #ffffff;
@black: #000000;

/* FONTS 
_________________________________________________________________*/
@font-family-base: 'OpenSans', Arial, Helvetica, Sans-serif;
@font-family-alt: 'OpenSansCondensed', Arial, Helvetica, Sans-serif; 

@font-size-base: 1.8rem;
@line-height-base: 2.7rem;

@font-size-lead: 2.1rem;
@font-size-lead-mobile: 2.0rem;
@line-height-lead: 3.0rem;

@font-weight-regular: 400;
@font-weight-bold: 700;

@font-size-h1: 3.6rem;
@font-size-h1-mobile: 3.0rem;
@font-size-h2: 3.0rem;
@font-size-h2-mobile: 2.7rem;
@font-size-h3: 2.4rem;
@font-size-h4: 2.1rem;


/* SPACES
_________________________________________________________________*/
@space-x-small: 0.5rem;
@space-small: 1.5rem;
@space-medium: 2.5rem;
@space-large: 5.0rem;
@space-x-large: 7.5rem;
@margin-grid: 2.5rem;
@margin-grid-minus: -2.5rem;


/* ANIMATIONS
_________________________________________________________________*/
@anim-duration: 0.2s;
