{{# accordionItem }}
	{{> @accordion-item }}
{{/ accordionItem }}

{{# breadcrumb }}
	{{> @breadcrumb }}
{{/ breadcrumb }}

{{# button }}
	{{> @button }}
{{/ button }}

{{# imageGallery }}
	{{> @image-gallery }}
{{/ imageGallery }}

{{# mediaBox }}
	{{> @media-box }}
{{/ mediaBox }}

{{# pageTitle }}
	{{> @page-title }}
{{/ pageTitle }}

{{# txtImgContent }}
	{{> @txt-img-content }}
{{/ txtImgContent }}

{{# accordion }}
	{{> @accordion }}
{{/ accordion }}

{{# buttonBar }}
	{{> @button-bar }}
{{/ buttonBar }}

{{# teaserBar }}
	{{> @teaser-bar }}
{{/ teaserBar }}

