{{# hasAccordionItem}}
	{{> @accordion-item}}
{{/ hasAccordionItem}}

{{# hasBreadcrumb}}
	{{> @breadcrumb}}
{{/ hasBreadcrumb}}

{{# hasButton}}
	{{> @button}}
{{/ hasButton}}

{{# hasImageGallery}}
	{{> @image-gallery}}
{{/ hasImageGallery}}

{{# hasMediaBox}}
	{{> @media-box}}
{{/ hasMediaBox}}

{{# hasPageTitle}}
	{{> @page-title}}
{{/ hasPageTitle}}

{{# hasTxtImgContent}}
	{{> @txt-img-content}}
{{/ hasTxtImgContent}}

{{# hasAccordion}}
	{{> @accordion}}
{{/ hasAccordion}}

{{# hasButtonBar}}
	{{> @button-bar}}
{{/ hasButtonBar}}

{{# hasFooter}}
	{{> @footer}}
{{/ hasFooter}}

{{# hasHeader}}
	{{> @header}}
{{/ hasHeader}}

{{# hasTeaserBar}}
	{{> @teaser-bar}}
{{/ hasTeaserBar}}

