{{# hasAccordion }}
    {{> @accordion }}
{{/ hasAccordion }}    

{{# hasAccordionItem }}
    {{> @ccordion-item }}
{{/ hasAccordionItem }} 

{{# hasBreadcrumb }}
    {{> @breadcrumb }}
{{/ hasBreadcrumb }}    

{{# hasButton }}
    {{> @button }}
{{/ hasButton }}

{{# hasButtonBar }}
    {{> @button-bar }}
{{/ hasButtonBar }}

{{# hasImageGallery }}
    {{> @image-gallery }}
{{/ hasImageGallery }}

{{# hasMediaBox }}
    {{> @media-box }}
{{/ hasMediaBox }}

{{# hasPageTitle }}
    {{> @page-title }}
{{/ hasPageTitle }}

{{# hasTeaserBar }}
    {{> @teaser-bar }}
{{/ hasTeaserBar }}

{{# hasTxtImgContent }}
    {{> @txt-img-content }}
{{/ hasTxtImgContent }}

