<div class="main overview" role="main"> 
  {{# contentItems }}
    <section class="content-section {{ sectionName }}">
      <div class="overview-content">
        {{> @parsys }}
      </div>
    </section>
  {{/ contentItems }}
</div>