<footer class="cp-footer">
    <div class="footer-area">
        <div class="page-wrapper">
            <div class="inner">
                <div class="footer-container">
                    <div class="footer-nav">
                        {{{ footerNavigation }}}
                    </div>

                    <div class="footer-address">
                        <div class="adress">
                            {{{ address }}}
                        </div>
                    </div>
                </div>

                <div class="social-media">
                    <ul>
                        {{# socialMediaItems }}
                            <li>
                                <a href="{{ url }}" class="icon icon-{{ name }}" target="_blank"></a>
                            </li>
                        {{/ socialMediaItems }}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bar">
        <p class="copyright">
            © Copyright 2021 by Holder | <a href="./">Impressum</a> |  <a href="./">AGB</a> |  <a href="./">Disclaimer</a>
        </p>
        <p class="website">
            Website by <a href="https://www.update.ch/" target="_blank">update AG</a>, Zurich
        </p>
    </div>

</footer>
