<footer class="cp-footer">
    <div class="inner">
        <ul>
            {{# navItems }}
                <li><a href="#">{{ title }}</a></li>
            {{/ navItems }}
        </ul>
    </div>
</footer>
