<div class="el-button-socialmedia-share">
    <div class="share-links">
        <i class="icon-share"></i>
        <ul class="some-share">
            {{# socialmediaShareItems }}
                <li>
                    <a href="{{ someUrl }}" class="{{ someIcon }}" target="_blank"></a>
                </li>
            {{/ socialmediaShareItems }}
        </ul>
    </div>
</div>