<header class="cp-header">
    <div class="inner">
        <ul>
            {{# navItems }}
                <li><a href="#">{{ title }}</a></li>
            {{/ navItems }}
        </ul>
    </div>
    <img src="{{ cfg.img_path }}dummy-image.png"
</header>