<div class="main" role="main">
    <div class="content">
        {{# contentItems }}
            <section class="content-section">
                {{> @parsys }}
            </section>
        {{/ contentItems }}
    </div>
</div>