<header class="cp-header">
  <div class="page-wrapper">
    <div class="inner">
      <div class="logo-bar">
        <img src="{{ cfg.img_path }}logo-neg.svg" class="logo">
      </div>

      <div class="nav-bar">
        <div class="search">
          <div class="search-form-container">
            <form methode="get" action="/suche/" class="search-form">
              <input type="text" name="q" class="">
            </form>
            <span class="icon icon-search"></span>
          </div>
        </div>
        <div class="nav-container">
          {{{ mainNavigation }}}

          <div class="mob-nav">
            <a href="#" class="icon icon-menu"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>