<div class="cp-teaser-bar">
  {{# title }}
    <h2>
      {{ title }}
    </h2>
  {{/ title }}

  <div class="teaser-bar grid col-{{ column }}">
    {{# hasTeaserItems }}
      {{> @media-box }}
    {{/ hasTeaserItems }}
  </div>
</div>